<%= form_for @hero do |f| %>
 
  <div class="field">
    <%= f.label :day %><br>
    <%= f.date_select :day %>
  </div>
  <div class#="field">
    <%#= f.label :User_id %><br>
    <%#= f.text_field :User_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

