<h1>Days on which you are Super Hero</h1>
<%#= @uservalue %>
<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Hero.where(:user_id => @uservalue).each do |hero| %>
      <tr>
        <td><%= hero.day %></td>
        <td><%= hero.User.name %></td>
        <td><%= link_to 'Swap', edit_hero_path(hero) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
